.theme-container{
    position: relative;
    display: block;
    margin: auto;
    margin-top: 7%;
    width: 90%;
    height: 450px;
    border: 1px solid white;
    background-color: rgb(32, 32, 32);
    color: white;
}
.theme-img{
    width: 30%;
    height: 100%;
    float: left;
}
.title-theme{
    display: block;
    width: 100%;
    background-color: #fff;
    left: 30%;
    text-align: center;
    color: black;
}
.information-theme{
    display: block;
    width: 100%;
    left: 30%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;}
.list-theme{
    list-style: none;
    text-align: center;
}
.container-theme__lyrics{
    width: 100%;
    height: 150px;
    text-align: center;
}
.paragraph-lyrics{
    width: 100%;
    height: 100px;
}
.listen-theme{
    display: block;
    margin: auto;
    width: 90%;
    text-align: center;
}
@media screen and (max-width: 600px){
    .theme-container{
        border: none;
        width: 100%;
        margin-top: 10%;
        height: 90%;
    }
    .theme-img{
        margin: 5%;
        margin-left: 10%;
        width: 80%;
        height: 65vh;
        border-radius: 15px;
    }
    .title-theme{
        background-color: transparent;
    }
    .theme-album{
        text-shadow: 1px 1px 4px white;
    }
    .container-theme__lyrics{
        height: 100%;
    }
    .information-theme, .paragraph-lyrics{
        display: block;
        margin: auto;
        font-size: .8rem;
        width: 90%;
    }
    .audio{
        margin-top: 10px;
        margin-bottom: 30px;
        width: 60%;
        height: 40px;
    }
}